.resume{
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    gap: 3rem;
    
    .separator{
        align-self: center;
        height: 90vh;
        border: 1px solid #ffffff;
    }
    .bullet-list{
        align-content: center;
        font-family:"Big Shoulders Display", sans-serif;
        font-size: 20px;  
    }
    .bullet-point-display{
        align-content: center;
    }
}




