.resume{
    height: 100vh;
    overflow: hidden;
    background: #240339;
    display: flex;
    justify-content: center;
    gap: 3rem;
    
    .resume-image-container{
        align-content: center;
        img{
            height: 35rem;
            width: auto;
        }
    }
    .bullet-list{
        align-content: center;
    }
}




