.resume{
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    gap: 3rem;
    
    .resume-image-container{
        align-self: center;
        height: 90vh;
        align-content: center;
        img{
            height: auto;
            width: 38rem;
        }
        border: 1px solid #e0f11f;
        border-radius: 25px;
    }
    .bullet-list{
        align-content: center;
        font-family:"Big Shoulders Display", sans-serif;
        font-size: 20px;
        
    }
}




