.about {
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(180deg, #6b00b3, #735CDD, #B3C2F2);
    position: relative;
  
    .wrapper {
      max-width: 1366px;
      height: 100%;
      margin: auto;
      
      .textContainer {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
  
        h2 {
          font-size: 30px;
          color: rgb(174, 140, 209);
          letter-spacing: 5px;
        }
  
        h1 {
          font-size: 30px;
        }
      }
    }
    .imageContainer {
        height: 70%;
        position: absolute;
        margin-right: 200px;
        margin-top: 150px;
        top: 0;
        right: 0;
        
        img{
          width: 100%;
          height: 100%;
        }
        z-index: 2;
    }
    .slidingTextContainer{
      position: absolute;
      font-size: 40vh;
      bottom: -10px;
      white-space: nowrap;
      color: #e1e0eb2f;
      width: 50%;
      font-weight: bold;
      pointer-events: none;
      z-index: 1;
  }
  }