@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

.about {
    font-family: "Poppins", sans-serif;
    height: 100vh;
    box-sizing: border-box;
    min-height: fit-content;

    .section__text__p1 {
      padding-top: 8rem;
      text-align: center;
    } 
    
    .title {
      font-size: 3rem;
      text-align: center;
    }
    

    .about-containers {
      gap: 2rem;
      margin-bottom: 2rem;
      margin-top: 2rem;
    }
    
    .about-details-container {
      justify-content: center;
      flex-direction: column;
    }
    
    .about-containers,
    .about-details-container {
      display: flex;
    }
    
    .about-pic {
      border-radius: 2rem;
    }
    
    .arrow {
      position: absolute;
      right: -5rem;
      bottom: 2.5rem;
    }
    .icon {
      cursor: pointer;
      height: 2rem;
    }
    
    .details-container {
      padding: 1.5rem;
      flex: 1;
      background-color: #121212;
      border-radius: 2rem;
      border: rgb(255, 255, 255) 0.1rem solid;
      border-color: rgb(163, 163, 163);
      text-align: center;
    }
    
    .section-container {
      margin: 0 10rem;
      display: flex;
      gap: 4rem;
      height: 80%;
      align-content: center;

      .text-container{
        h1{
          font-size: 1rem;
        }
      }
    }
    
    .section__pic-container {
      align-content: center;
      img{
        height: 430px;
        width: 400px;
      }
    }
}