@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap');

.about {
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto auto auto;
    .NameContainer{
      place-self: center;
      font-size: 12rem;
      font-weight: bold;
      font-family:"Big Shoulders Display", sans-serif;
      text-align: center;
      position: absolute;
      color: #e0f11f;
    }

    .textContainer{
      padding: 0 20rem 0 20rem;
      align-self: center;
      justify-self: center;
      font-size: 1rem;
      font-weight: bold;
      font-family:"Big Shoulders Display", sans-serif;
      color: rgba(240, 240, 240, .5);
    }

    .imageContainer{
      place-self: center;
      z-index: 2;
      position: absolute;
      transition: transform 0.3s ease, color 0.3s ease;
      img{
        height: 15rem;
        width: auto;
        border-radius: 150px;
      }
      &:hover{
        transform: scale(1.1);
      }
    }
}