.navbar {
    height: 100px;
    background-color: #B3C2F2;
  
    .wrapper {
      max-width: 1366px;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
 
      span {
        font-weight: bold;
        color: #000;
      }
  
      .social {
        display: flex;
        gap: 20px;
  
        img {
          width: 18px;
          height: 18px;
        }
      }
    }
  }
