.bullet-point{
    width: 30rem;
    padding: 30px;
    margin: 1rem;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    background-color: #e0f11f;
    color: black;
    border-radius: 1rem;

    .title-text{
        text-align: start;
    }
    .subtitle-text{
        text-align: start;
    }
    .date-text{
        padding: 10px;
        text-align: start;
    }
   

    &:hover{
        transform: scale(1.05);
    }
}

